.hero
    background: #f1f1f1 url('../img/main-bg.jpg') no-repeat center top 80px
    background-size: contain
    padding-top: 180px
    margin-top: 80px

    &__title
        font-size: 30px
        margin-bottom: 40px
    &__subtitle
        font-size: 30px
        +bolt
        margin-bottom: 67px
        display: block
@media (max-width: 991px)
    .hero
        background-size: 100%
        background-position: top right
